ol {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1 em, h2 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bolder;
}

#linguagens li:not(:nth-child(n+4)) {
    color: blue;
}

.java {
    background-color: pink;
}

#aliados li a:hover {
    font-weight: bold;
}

#aliados li a[href*="stackoverflow"]:hover {
    color: orange;
}

#aliados li a[href*="w3schools"]:hover {
    color: green;
}

#aliados li a[href*="mozilla"]:hover {
    color: black;
}

#aliados li a[href*="devdocs"]:hover {
    color: yellow
}

#aliados li a[href*="trybe"]:hover {
    color: green;
}